Flask 
Flask-SQLAlchemy 
Flask-Migrate 
Flask-Cors 
Flask-JWT-Extended 
PyMySQL 
bcrypt
python-dotenv
marshmallow
flask-marshmallow
marshmallow-sqlalchemy
Werkzeug
cryptography
sqlalchemy